$white: white;
$black: black;
$blue: blue;
$darkBlue: #172337;
$orange: #fbad4a;

// GREY //
$grey: #f1f3f6;
$lighterGrey: #f5f5f6;
$lightGrey: lightgrey;
$darkGrey: #29303b;

$c-white: #ffffff;
$c-gray-99: #fbfbfb;
$c-black: #000000;
