.header {
  background-color: #29303b;
  color: white;
  padding: 20px 10px;
}

/* header-left */
.header--left {
  width: 60%;
  height: 35px;
}
.header__logo {
  font-size: 20px;
  padding: 0 10px;
}

.header__searchbox {
  padding: 0 10px;
  flex: 1;
  min-width: 200px;
  height: 100%;
}

/* header-right */
.header--right {
  padding: 0 10px;
}

.header__profile {
  padding: 0 10px;
}

.header__orders {
  padding: 0 10px;
}

.header__cart {
  padding: 0 10px;
}
