.header {
  background-color: #29303b;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
}

/* header-left */
.header--left {
  display: flex;
  flex-direction: row;
  width: 60%;
}
.header__logo {
  font-size: 20px;
  padding: 0 10px;
}

.header__searchbox {
  padding: 0 10px;
  flex: 1;
}

/* header-right */
.header--right {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.header__profile {
  padding: 0 10px;
}

.header__orders {
  padding: 0 10px;
}

.header__cart {
  padding: 0 10px;
}
