@import "utils/colors/index.scss";

.header {
  font-family: Poppins-Regular;
  background-color: $white;
  color: $black;
  padding: 20px 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 2px 2px 10px $lightGrey;
}

/* header-left */
.header--left {
  width: 60%;
  height: 35px;
}
.header__logo {
  text-decoration: none;
  color: $black;
  font-size: 20px;
  padding: 0 10px;
}

.header__searchbox {
  padding: 0 10px;
  flex: 1;
  min-width: 200px;
  height: 100%;
}

/* header-right */
.header--right {
  padding: 0 10px;
}

.header__profile {
  padding: 0 10px;
}

.header__orders {
  padding: 0 10px;
}

.header__cart {
  text-decoration: none;
  color: $black;
  padding: 0 10px;
}

.header__cart-img {
}

.header__cart-text {
  padding-left: 5px;
}
