@import "utils/colors/index.scss";

.products-list {
}

.products-list__content {
  background-color: $grey;
  padding: 10px;
}

.products-list__content--left {
  width: 20%;
}

.products-list__content--right {
  margin-left: 1%;
  width: 79%;
  flex-wrap: wrap;
}
