@import "utils/colors/index.scss";

.imagecard {
  text-decoration: none;
  color: $black;
  padding: 20px 25px;
  cursor: pointer;
}

.imagecard:hover {
  border-radius: 3px;
  box-shadow: 2px 2px 10px lightgrey;
}

.imagecard__img {
}

.imagecard__img > img {
  width: 150px;
  height: 150px;
}

.imagecard__title {
  font-size: 14px;
  text-transform: capitalize;
}

.imagecard__off {
  text-transform: capitalize;
}
