@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.filterbox {
  background-color: $white;
  font-size: 19px;
}

.filterbox__header {
  @include flex-row-sb;
  padding: 15px 15px;
  border-bottom: 1px solid $lightGrey;
}

.filterbox__price {
  padding: 15px 15px;
  border-bottom: 1px solid $lightGrey;
}

.filterbox__price-header {
}
.filterbox__price-slider {
}

.filterbox__price-inputbox {
  @include flex-row-sb;
}
.filterbox__price-inputbox-min {
  border: 1px solid $lightGrey;
  border-radius: 2px;
  padding: 2px 20px;
}
.filterbox__price-inputbox-max {
  border: 1px solid $lightGrey;
  border-radius: 2px;
  padding: 2px 20px;
}

.filterbox__brand {
  padding: 15px 15px;
  border-bottom: 1px solid $lightGrey;
}

.filterbox__discount {
  padding: 15px 15px;
}
