.dropdown {
}

.dropdown__header {
}
.dropdown__header-text {
  text-transform: capitalize;
}
.dropdown__header-icon {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.dropdown__list {
}

.dropdown__showMoreLessBtn {
}
