@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.product-list {
}

.product-list__content {
  @include flex-row;
  background-color: $grey;
  padding: 10px;
}

.product-list__content--left {
  width: 20%;
}

.product-list__content--right {
  background-color: $white;
  margin-left: 1%;
  width: 79%;
}

.product-list__content__products {
  @include flex-row;
  flex-wrap: wrap;
}
