@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.searchbox {
  @include flex-row;
  height: 100%;
}

.searchbox__input {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  border-width: 0;
  border-radius: 1px;
  outline: none;
  min-height: 30px;
  background: $lighterGrey;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.searchbox__input:focus {
  background: $white;
  border: 1px solid $lightGrey;
}

.searchbox__icon-wrapper {
  @include flex-col-cen;
  background: $lighterGrey;
  padding: 0 10px;
  outline: none;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.searchbox__icon-wrapper:focus {
  border: 1px solid $lightGrey;
  border-radius: 4px;
}

.searchbox__icon {
  width: 17px;
  height: 28px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
