@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.home {
  font-family: Poppins-Regular;
}

.home__content {
  background-color: $grey;
  padding: 10px;
}

.home__carousel {
  @include flex-row;
  padding: 10px 0;
}

.home__carousel-left {
  width: 35%;
}

.home__carousel-left > img {
  width: 100%;
}

.home__carousel-right {
  padding-left: 1%;
  width: 64%;
}

.home__carousel-right > img {
  width: 100%;
}

.home__images-queue {
  padding: 10px 0;
}
