@import "utils/commonStyles/colors.scss";
@import "utils/commonStyles/flex.scss";

.home {
  font-family: Poppins-Regular;
}

.home__temp-msg {
  @include flex-row-cen;
  font-family: "Roboto-Regular";
  font-size: 14px;
  padding: 5px 0;
  background-color: #f1eef1;
}

.home__content {
  background-color: $grey;
  padding: 10px;
}

.home__carousel {
  @include flex-row;
  padding: 10px 0;
  width: 100%;
}

.home__carousel > div {
  width: 100%;
}

.home__images-queue {
  padding: 10px 0;
}
