@import "utils/colors/index.scss";

body {
  margin: 0;
  box-sizing: border-box;
}

.home {
  font-family: Poppins-Regular;
}

.home__content {
  background-color: $grey;
  padding: 10px;
}

.home__images-queue {
  padding: 10px 0;
}
